<!DOCTYPE html>
{% load static %}
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Craigslist II</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper purple">
            <div class="container">
                <a href="/" class="brand-logo">Craigslist 2</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="https://prtflo3.herokuapp.com">John Ochs</a>
                    </li>
                    <li>
                        <a href="https://minneapolis.craigslist.org">Craigslist 1</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="center50">
        <div class="containerManual">
            <br><br><br><br><br>
            <div class="clear">
                <div class="blockDisplay">
                    <div class="iconCenter">
                        <i class="material-icons large">forum</i>
                    </div>
                    <h5>forums</h5>
                </div>
                <div class="blockDisplay">
                    <div class="iconCenter">
                        <i class="material-icons large">description</i>
                    </div>
                    <h5>classifieds</h5>
                </div>
                <div class="blockDisplay">
                    <div class="iconCenter">
                        <i class="material-icons large">accessibility</i>
                    </div>
                    <h5>c-list for all</h5>
                </div>
            </div>
            <form class="search">
                <div class="input-field">
                    <input id="search" type="search">
                    <label for="search">Search</label>
                </div>
            </form>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
    <footer class="page-footer green">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Craigslist 2</h5>
                    <p class="grey-text text-lighten-4">Built on Python and Django</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 nobody asked
                <a class="grey-text text-lighten-4 right" href="https://prtflo3.herokuapp.com">John Ochs Portfolio</a>
            </div>
        </div>
    </footer>
</body>