.center50 {
    margin-left: 50%;
}

.containerManual {
    width: 1000px;
    overflow: auto;
    margin-left: -500px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      